<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PDF转word</title>
</head>
<body>
<form th:action="@{/tool/pdfToWord}" method="post" enctype="multipart/form-data">
    <p>
        请选择一个PDF文件：
        <input th:type="file" th:name="pdf" style="width: 200px">
    </p>
    <p>
        <input th:type="submit" value="开始转换">
    </p>
    <p>
        <span style="color: red;font-size: 30px;font-family: 楷体">文件转换成功后手动添加.zip扩展名下载到本地解压即可</span>
    </p>
</form>
</body>
</html>