<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PDF转word</title>
</head>
<body>
<span style="color: red; font-size: 25px">注意：上传文件<=50MB</span>
<br>
<span style="color: #1646e3; font-size: 20px">如有转换失败问题，联系管理员帮忙转换QQ：1135365441</span>
<br>
<span style="color: #1646e3; font-size: 20px">也可以自己将代码拉取到本地启动转换，目前本地转换正常，无限制</span>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <p>
        <span style="color: red; font-size: 25px">请选择一个PDF文件(必选)：</span>
        <input th:type="file" th:name="upload" style="width: 200px">
    </p>
    <p>
    <input th:type="submit" value="上传文件并转换">
    </p>
</form>
</body>
</html>