<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="zhuyuanzhang" class="com.alibaba.bean.User">
        <property name="name" value="xiaohua"/>
        <property name="age" value="20"/>
    </bean>

    <bean id="zhuwen" class="com.alibaba.bean.Pet">
        <property name="name" value="smallcat"/>
    </bean>
</beans>